<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>Heart Disease Prediction</title>

</head>
<head>

    <meta charset="UTF-8">

    <title>ML app</title>

</head>

<body>

   <h1>Sturend Approval Prediction</h1>

</body>
        <h2>Introduce your values</h2>

        <form action="/" method="post">
            Attendance_Rate: <input type="number" step="any" name="AttendanceRate"><br><br>	
            Study_Hours_Per_Week: <input type="number" step="any" name="StudyHoursPerWeek"><br><br>	
            Previous_Grade: <input type="number" step="any" name="PreviousGrade"><br><br>
            Extracurricular_Activities: <input type="number" step="any" name="ExtracurricularActivities"><br><br>
            <input type="submit" value="Predict">


        </form>    
    {% if prediction != None %}  
        <h3>Prediction: {{ prediction }} </h3>  
    {% endif %}        




</html>